*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
:root{
    --bg-color: #ffffff;
    --text-color: #000000;
    --main-color: #f0f0f0;
    --other-color:#ffc633;
    --second-color: #616060;

    --h1-font:5.5rem;
    --h2-font:3.5rem;
    --p-font:1rem;
}

body{
    background: var(--bg-color);
    color:var(--text-color);
}

header{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    background: var(--bg-color);
    box-shadow: 0 1px 6px 0 rgba(32 33 36 /5%);
    padding: 18px 14%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    transition: all .6s;
}

.logo{
    font-size: 23px;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--text-color);
    padding-left: 35px;
}

.navlist{
    display: flex;
}
.navlist a{
    display: inline-block;
    margin: 0 10px;
    font-size: var(--p-font);
    font-weight: 500;
    color: var(--text-color);
    transition: all .6s;
}

.navlist a:hover{
    color: var(--second-color);
    transform: translateY(-4px);
}

.nav-right{
    display: flex;
    align-items: center;
}

.nav-right a{
    display: inline-block;
    font-size: 22px;
    color: var(--text-color);
    margin: 0 20px;
    transition: all .6s;
}

.nav-right a:hover{
    transform: translateY(-5px) scale(1.1);
}

#menu-icon{
    z-index: 1001;
    font-size: 35px;
    cursor: pointer;
    color: var(--text-color);
    margin-left: 10px;
    display:none
    
}

section{
    padding: 90px 14% 70px;
}

.home{
    position: relative;
    height: 100vh;
    width: 100%;
    background:linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../img/background.PNG);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.home::after {
    content: '';
    position: absolute;
    top: 90%;
    left: 0;
    width: 50px;
    height: 50px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100'%3E%3Cpath fill='%23fff' d='M50 0L62.5 37.5 100 50 62.5 62.5 50 100 37.5 62.5 0 50 37.5 37.5 50 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat;
    background-size: contain;
    background-position: center;
    opacity: 0.5; /* Increased opacity */
    z-index: 1; /* Increased z-index */
    animation: bounce 5s infinite;
  }
  
  @keyframes bounce {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(80vw);
    }
  }
  
  .home-text h6, h1, p {
    color: #f0f0f0;
  }

  .home-text{
    padding-top:60px;
  }

  .home-text h1{
    font-size: var(--h1-font);
    font-weight: 700;
    margin-bottom: 20px;
    line-height: 1.1;
  }

  .home-text h6{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--second-color);
    letter-spacing: 3px;
    text-transform: uppercase;
  }

  .home-text p{
    width: 100%;
    max-width: 560px;
    margin-bottom: 35px;
    font-weight: 600;
    font-size: var(--p-font);
    line-height: 33px;
    color: var(--second-color);
  }
  .btn{
    display: inline-block;
    padding: 14px 42px;
    background: var(--other-color);
    color: var(--bg-color);
    font-size: 15px;
    font-weight: 500;
    border: 2px solid transparent;
    transition: all .6s;
  }

  .btn:hover{
    border: 2px solid var(--second-color);
    color: var(--bg-color);
    background: transparent;
    transform: scale(0.9) translateY(-6px);
  }

  .btn i{
    margin-left: 9px;
  }

  .brands{
    padding: 30px 14%;
  }

  .brands .main-brands{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
  }

  .brands-c img{
    width: 100%;
    height: auto;
  }

  .center-text{
    text-align: center;
  }
   
  .center-text h2{
    font-family: var(--h2-font);
    font-weight: 700;
    text-transform: uppercase;
  }

  .n-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,auto));
    align-items: center;
    gap: 1.5rem;
    margin-top: 4rem;
  }

  .row-img{
    overflow: hidden;
    margin-bottom: 15px;
    margin-top: 20px;
    border-radius: 28px;
  }

  .row-img img{
    display: block;
    transition:transform 0.5s;
    cursor: pointer;
    width: 100%;
  }

  .row-img:hover img{
    transform: scale(1.1);
  }

  .row h3{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 5px;
  }

  .stars a{
    font-size: 16px;
    color: var(--other-color);
    margin-right: 5px;
  }

  .row-in{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
  }

  .row-left a{
    color: var(--second-color);
    font-weight: 700;
    font-size: var(--p-font);
    transition: all 0.6s;
  }

  .row-left i{
    margin-left: 6px;
  }

  .row-left a:hover{
    color: var(--text-color);
  }



  .row-right h6{
    font-weight: 600;
    font-size: 15px;
    color: var(--second-color);
    height: 70px;
    width: 70px;
    background-color: rgba(74,74,136);
    color: #fff;
    line-height: 70px;
    text-align: center;
    border-radius: 50%;
    right: 30px;
    bottom: 60px;
    cursor: pointer;
    
  }

  .n-btn{
    text-align: center;
    margin-top: 4rem;
  }

  .btn2{
    display: inline-block;
    background: transparent;
    padding: 14px 42px;
    color: var(--text-color);
    font-size: 15px;
    font-weight: 500;
    border: 1px solid var(--second-color);
    transition: all 0.6s;
    border-radius: 30px;
  }

  .btn2:hover{
    background: var(--second-color);
    border: 1px solid var(--text-color);
    color: var(--bg-color);
    transform: scale(0.9) translateY(-6px);
  }

  .f-text p{
    color: var(--second-color);
  }

  .features{
    padding: 10px 14% 10px;
  }

  .features-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 2rem;
  }

  .box{
    
    gap:30px;
    justify-content: space-between;
    display: flex;
    padding: 15px 15px 15px 30px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    border-left: 4px solid var(--text-color);
    transition: all 0.6s;
    box-sizing: border-box;
  }

  .box:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.19);
    border-left: 4px solid var(--text-color);
    transform: translateY(-4px) scale(1.02);
    cursor: pointer;
}

.f-icon i{
   font-size: 33px;
}

.f-text h3{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}

.f-text p{
    font-size: var(--p-font);
    color: var(--second-color);
    line-height: 33px;
    font-weight: 400;
}

.features h1{
    text-align: center;
    padding-bottom: 60px;
    color: var(--text-color);
}

.selling-content{
    display: grid;
    gap: 2.5rem;
    grid-template-columns: repeat(auto-fit, minmax(150px,auto));
    margin-top: 4rem;
}

.col{
    position: relative;
    transition: all 0.6s;
}
.col-img{
    overflow: hidden;
    border-radius: 28px;
}

.col-img img{
    width: 100%;
    cursor: pointer;
    transition: transform 0.5s;
    display: block;
}

.col-img:hover img{
    transform: scale(1.08);
}

.col-icon{
    position: absolute;
    bottom:10px;
    right: 30px;
}
.col-icon a{
    display: block;
}

.col-icon i{
    height: 40px;
    width: 40px;
    margin-bottom: 10px;
    background: var(--text-color);
    color: var(--bg-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    opacity: 0;
    transition: all 0.6s;
}

.col:hover .col-icon i{
    opacity: 1;
    transform: rotate3d(0, 0, 1, 360deg)scale(1.03);
}

.newsletter-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2.4rem;
    background: var(--text-color);
    padding: 60px 70px;
    border-radius: 28px;
}

.newsletter-text h2{
    font-size: 40px;
    color: var(--bg-color);
    font-weight: 600;
}

.newsletter-content form{
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    gap: 1rem;
}

.newsletter-content form input:first-child{
   color: var(--text-color);
   background: var(--bg-color);
   font-size: var(--p-font);
   padding: 15px;
   outline: none ;
   border: none;
   border-radius: 5px;
}

.newsletter-content form input:last-child{
    border-radius: 5px;
    cursor: pointer;
    font-size: var(--p-font);
}

.footer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20px,auto));
    gap:2rem;
}

.footer-box{
    display: flex;
    flex-direction: column;
}

.footer-box h3{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}

.footer-box a{
    color: var(--second-color);
    transition: all 0.50s;
    margin-bottom: 1rem;
}

.footer-box a:hover{
    color: var(--text-color);
    transform: translateX(-5px);
}

.Social a{
    display: inline-flex;
    height: 40px;
    width: 40px;
    background: var(--text-color);
    color: var(--bg-color);
    justify-content: center;
    align-items: center;
    font-size: 17px;
    transform: transform 0.6s;
    margin-right: 14px;
    border-radius: 10px;
}

.Social a:hover{
    color: var(--bg-color);
    transform: rotate3d(0, 0, 1, 360deg)scale(1.06);
}

.copyright{
    text-align: center;
    padding-bottom: 10px;
    
}

.copy-Social a{
    display: inline-flex;
    height: 30px;
    width: 40px;
    background: var(--text-color);
    color: var(--bg-color);
    justify-content: center;
    align-items: center;
    font-size: 17px;
    transform: transform 0.6s;
    margin-right: 14px;
    border-radius: 5px;
}

.copy-Social{
    padding-top: 20px;
}

/*-----coding the popping section---*/
#section {
    opacity: 0;
    transform: translateY(20px); /* Start slightly below */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Smooth transition */
}

#section.visible {
    opacity: 1; /* Fully visible */
    transform: translateY(0); /* Move to original position */
}

/* the text should pop up from the bottom to the center describing the image*/



.row-img h4{
    width: 100%;
    color: #fff;
    font-weight: 700;
    position: absolute;
    transform: translateX(-50px);
    bottom: 0%;
    left: 50px;
    opacity: 0;
    transition: 1.5s;
}

.row-img:hover h4{
    opacity: 1;
    bottom: 49%;
}

.row-img:hover img{
    display: block;
    transition:transform 0.5s;
    cursor: pointer;
    width: 100%;
  }

  /*-----responsive part of the page */

  @media(max-width:700px){

  }

  @media(max-width:1610px){
    header{
      padding:15px 7%;
    }

    section{
      padding:70px 7% 80px;
    }

    .brands{
      padding:20px 7%;
    }

    .features{
      padding: 10px 7% 10px;
    }
  }

  @media(max-width:1500px){
    .home{
      height: 90vh;
    }
      :root{
        --h1-font: 4.8rem;
        --h2-font: 2.8rem;
        --p-font: 15px;
      
    }
  }

  @media(max-width:1170px){
    header{
      padding:10px 4%;
    }

    section{
      padding:60px 4% 70px;
    }

    .brands{
      padding:30px 4%;
    }

    .features{
      padding: 10px 4% 10px;
    }
    .features-content{
       grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    }
    .newsletter-content{
      grid-template-columns: repeat(auto-fit, minmax(300px, auto));
   }
   .selling-content{
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
 }
  }

@media(max-width:1050px){
  #menu-icon{
    display: block;
  }
  .navlist{
    position: absolute;
    width: 100%;
    height: 100vh;
    padding: 40px 60px;
    top:0;
    bottom:0;
    left:100%;
    right: 0;
    display: flex;
    flex-direction: column;
    background: var(--bg-color);
    transition: all 0.50s ease;
  }

  .navlist a{
    display: block;
    color: #979797;
    padding: 0;
    margin: 0px 0px 30px 0px;
    font-size: 1.5rem;
    font-weight: 400;
  }

  .navlist.open{
    left: 50%;
  }

  :root{
    --h1-font: 4.5rem;
    --h2-font:2.6rem;
  }
  .logo{
    font-size: 25px;
  }
  .brands{
    padding: 40px 4%;
  
  }

  .main-brands{
    gap:25px;
  }
  .brands-c img{
    width: 100%;
    height: auto;
    max-width: 100px;
  }

  .newsletter-content form input:first-child{
    padding: 8px;
  }

  .newsletter-content form input:last-child{
    font-size: 12px;
  }
}

@media(max-width:530px){
  :root{
    --h1-font:3.5rem;
    --h2-font:2.2rem;
  }
  .btn{
    padding: 12px 20px;
  }

  .nav-right a{
    margin-right: 7px;
  }

  .logo{
    font-size: 15px;
  }

  .nav-right i{
    font-size: 15px;
   
  }
  #menu-icon{
    font-size: 25px;
  }
  .newsletter-text h2{
    font-size: 20px;
  }

  .newsletter-text p{
    font-size: 14px;
  }
  .newsletter-content form input:first-child{
    padding: 8px;
    width: 90%;
    font-size: 12px;
  }

  .newsletter-content form input:last-child{
    font-size: 12px;
    width: 80%;
    margin-left: -30px;
  }

  .footer-box h3{
    font-size: 15px;
  }

  .footer-box a{
    font-size: 14px;
  }
}